.message{
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 15px;
}
.message-in{
  background-color:grey ;
}
.message-out{
  background-color: blue;
  color: white;
}