.message { 
  border-radius: 15px; 
  padding: 15px; 
  margin: 15px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  display: inline; 
  max-width: 500px;
} 
.message-out { 
  background-image: linear-gradient(rgb(133, 233, 75),rgb(75, 129, 77));  
  border-bottom-left-radius: 0; 
  border-bottom-right-radius:15px; 
  color: black; 
  align-self: flex-start; 
} 
.message-in { 
  border-bottom-right-radius: 0; 
  border-bottom-left-radius:15px ; 
  background-color:rgb(224, 220, 220); 
  align-self:flex-end ; 
  background-image: linear-gradient(rgb(89, 89, 233),rgb(145, 97, 97)); 
} 
.message-list{ 
 display:flex; 
 flex-direction: column; 
 gap:15px; 
 margin-right:20%; 
 background-image: radial-gradient(rgb(255, 92, 92), rgb(255, 218, 56), rgb(81, 238, 102), rgb(81, 220, 245), rgb(83, 37, 190) );
} 
 

header h1 {
text-align: center;  
flex-basis: 100%;

}
footer{
  display: flex;
}
footer input {
  flex-grow: 1;
}
